swagger: "2.0"
info:
  description: "唐僧叨叨 API"
  version: "1.0.0"
  title: "唐僧叨叨 API"
host: "api.botgate.cn"
tags:
  - name: "favorite"
    description: "收藏"
schemes:
  - "https"
basePath: "/v1"

paths:
  /favorites:
    get:
      tags:
        - "favorite"
      summary: "添加收藏"
      description: "添加收藏"
      operationId: "add favorite"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "data"
          description: "收藏数据"
          required: true
          schema:
            type: object
            properties:
              type:
                type: integer
                description: "收藏类型 1. 纯文本 2. 图片"
              unique_key:
                type: string
                description: "唯一key 如果是收藏消息，此字段一般为message_id"
              author_name:
                type: string
                description: "作者名称"
              author_uid:
                type: string
                description: "作者uid"
              payload:
                type: object
                description: "收藏内容"
      responses:
        200:
          description: "返回"
          schema:
            $ref: '#/definitions/response'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/response'
      security:
        - token: [] 
  /favorites/{id}:
    delete:
      tags:
        - "favorite"
      summary: "删除收藏"
      description: "删除收藏"
      operationId: "delete favorites"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "id"
          type: string
          description: "收藏id"
          required: true 
      responses:
        200:
          description: "返回"
          schema:
           $ref: '#/definitions/response'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/response'

  /favorite/my:
    get:
      tags:
        - "favorite"
      summary: "登录用户收藏列表"
      description: "登录用户收藏列表"
      operationId: "favorite list"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "page_index"
          type: string
          description: "页码"
          required: true 
        - in: "query"
          name: "page_size"
          type: string
          description: "每页数据"
          required: true 
      responses:
        200:
          description: "返回"
          schema:
            type: array
            items:
              properties:
               no:
                  type: string
                  description: "编号"
               type:
                  type: integer
                  description: "收藏类型 1. 纯文本 2. 图片"
               unique_key:
                  type: integer
                  description: "唯一key 如果是收藏消息，此字段一般为message_id"
               author_name:
                  type: string
                  items:
                    type: string
                    description: "作者名称"
               author_uid:
                  type: string
                  items:
                    type: string
                    description: "作者uid"
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/response' 
      security:
        - token: []  
securityDefinitions:
  token:
    type: "apiKey"
    in: "header"
    name: "token"
    description: "用户token"

definitions:
  response:
    type: "object"
    properties:
      status:
        type: integer
        format: int
      msg:
        type: "string"