swagger: "2.0"
info:
  description: "唐僧叨叨 API"
  version: "1.0.0"
  title: "唐僧叨叨 API"
host: "api.botgate.cn"
tags:
  - name: "moment"
    description: "朋友圈"
schemes:
  - "https"
basePath: "/v1"

paths:
  /moments:
    post:
      tags:
        - "moment"
      summary: "发布朋友圈"
      description: "发布朋友圈"
      operationId: "add moments"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "发布内容"
          required: true
          schema:
            type: object
            properties:
              video_path:
                type: string
                description: "视频地址"
              video_cover_path:
                type: string
                description: "视频封面地址"
              text:
                type: string
                description: "发布文本"
              imgs:
                type: array
                items:
                  type: string
                  description: "图片列表"
              privacy_type:
                type: string
                description: "隐私类型 【public：公开】【private：私有】【internal：部分可见】【prohibit：不给谁看】"
              privacy_uids:
                type: array
                items:
                  type: string
                  description: "隐私类型对应的用户UID"
              address:
                type: string
                description: "地址"
              longitude:
                type: string
                description: "经度"
              latitude:
                type: string
                description: "纬度"
              remind_uids:
                type: array
                items:
                  type: string
                  description: "提醒谁看的用户集合"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
    get:
      tags:
        - "moment"
      summary: "朋友圈列表"
      description: "朋友圈列表"
      operationId: "list moments"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "uid"
          type: string
          description: "查看某个用户的列表"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            type: array
            items:
              $ref: "#/definitions/moment"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /moments/{moment_no}:
    get:
      tags:
        - "moment"
      summary: "朋友圈详情"
      description: "朋友圈详情"
      operationId: "detail moment"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "moment_no"
          type: string
          description: "朋友圈编号"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/moment"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
    delete:
      tags:
        - "moment"
      summary: "删除朋友圈"
      description: "删除朋友圈"
      operationId: "delete moment"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "moment_no"
          type: string
          description: "朋友圈编号"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /moments/{moment_no}/like:
    put:
      tags:
        - "moment"
      summary: "点赞"
      description: "点赞"
      operationId: "like moment"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "moment_no"
          type: string
          description: "朋友圈编号"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

  /moments/{moment_no}/unlike:
    put:
      tags:
        - "moment"
      summary: "取消点赞"
      description: "取消点赞"
      operationId: "unlike moment"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "moment_no"
          type: string
          description: "朋友圈编号"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

  /moments/{moment_no}/comments:
    post:
      tags:
        - "moment"
      summary: "评论"
      description: "评论"
      operationId: "comments moment"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "moment_no"
          type: string
          description: "朋友圈编号"
          required: true
        - in: "body"
          name: "object"
          description: "评论数据"
          required: true
          schema:
            type: object
            properties:
              content:
                type: string
                description: "评论内容"
              reply_comment_id:
                type: string
                description: "回复评论的id"
              reply_uid:
                type: string
                description: "回复某人的uid"
              reply_name:
                type: string
                description: "回复某人的名称"
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              id:
                type: integer
                description: "评论ID"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /moments/{moment_no}/comments/{id}:
    delete:
      tags:
        - "moment"
      summary: "删除评论"
      description: "删除评论"
      operationId: "delete comments moment"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "moment_no"
          type: string
          description: "朋友圈编号"
          required: true
        - in: "path"
          name: "id"
          type: string
          description: "评论ID"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /moment/cover:
    get:
      tags:
        - "moment"
      summary: "获取某人封面"
      description: "获取某人封面v"
      operationId: "cover"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "uid"
          type: string
          description: "查看某人的uid"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            type: file
            description: "图片文件"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
  /moment/attachment:
    get:
      tags:
        - "moment"
      summary: "查询某个用户只含有图片和视频的动态"
      description: "查询某个用户只含有图片和视频的动态"
      operationId: "attachment"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "uid"
          type: string
          description: "查看某人的uid"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            type: array
            items:
              $ref: "#/definitions/moment"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
securityDefinitions:
  token:
    type: "apiKey"
    in: "header"
    name: "token"
    description: "用户token"

definitions:
  moment:
    type: object
    properties:
      moment_no:
        type: string
        description: "朋友圈编号"
      publisher:
        type: string
        description: "发布者uid"
      publisher_name:
        type: string
        description: "发布者名称"
      privacy_type:
        type: string
        description: "隐私类型 【public：公开】【private：私有】【internal：部分可见】【prohibit：不给谁看】"
      privacy_uids:
        type: array
        items:
          type: string
          description: "隐私类型对应的用户UID"
      video_path:
        type: string
        description: "视频地址"
      video_cover_path:
        type: string
        description: "视频封面"
      text:
        type: string
        description: "内容"
      created_at:
        type: string
        description: "发布时间"
      imgs:
        type: array
        items:
          type: string
          description: "图片"
      address:
        type: string
        description: "地址"
      longitude:
        type: string
        description: "经度"
      latitude:
        type: string
        description: "纬度"
      remind_uids:
        type: array
        items:
          type: string
          description: "提醒用户列表"
      likes:
        type: array
        items:
          type: object
          properties:
            uid:
              type: string
              description: "点赞用户UID"
            name:
              type: string
              description: "点赞用户名字"
      comments:
        type: array
        items:
          $ref: "#/definitions/comment"
  comment:
    type: object
    properties:
      sid:
        type: string
        description: "评论ID"
      uid:
        type: string
        description: "评论用户UID"
      name:
        type: string
        description: "评论用户名字"
      content:
        type: string
        description: "评论内容"
      reply_uid:
        type: string
        description: "回复某个人的uid"
      reply_name:
        type: string
        description: "回复某个人的名字"
      comment_at:
        type: string
        description: "评论时间"
  response:
    type: "object"
    properties:
      status:
        type: integer
        format: int
      msg:
        type: "string"
