swagger: "2.0"
info:
  description: "唐僧叨叨 API"
  version: "1.0.0"
  title: "唐僧叨叨 API"
host: "api.botgate.cn"
tags:
  - name: "sticker"
    description: "贴图"
schemes:
  - "https"
basePath: "/v1"

paths:
  /sticker:
    get:
      tags:
        - "sticker"
      summary: "搜索"
      description: "搜索"
      operationId: "search"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "keyword"
          type: string
          description: "搜索关键字"
          required: true
        - in: "query"
          name: "page"
          type: integer
          description: "页码"
          required: true
        - in: "query"
          name: "page_size"
          type: integer
          description: "每页数据"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            type: array
            items:
              $ref: "#/definitions/searchSticker"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /sticker/user:
    post:
      tags:
        - "sticker"
      summary: "添加自定义贴图"
      description: "添加自定义贴图"
      operationId: "sticker add"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "表情数据"
          required: true
          schema:
            type: object
            properties:
              path:
                type: string
                description: "地址"
              width:
                type: integer
                description: "宽度"
              height:
                type: integer
                description: "高度"
              format:
                type: string
                description: "格式"
              placeholder:
                type: string
                description: "占位图"
              category:
                type: string
                description: "所属分类"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
    delete:
      tags:
        - "sticker"
      summary: "删除自定义贴图"
      description: "删除自定义贴图"
      operationId: "sticker delete"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "表情数据"
          required: true
          schema:
            type: object
            properties:
              paths:
                type: array
                items:
                  type: string
                  description: "删除表情ID集合"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
    get:
      tags:
        - "sticker"
      summary: "获取自定义贴图"
      description: "获取自定义贴图"
      operationId: "sticker get"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        200:
          description: "返回"
          schema:
            type: array
            items:
              $ref: "#/definitions/categorySticker"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /sticker/remove:
    delete:
      tags:
        - "sticker"
      summary: "通过分类移除贴图"
      description: "通过分类移除贴图"
      operationId: "sticker remove category"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "category"
          type: string
          description: "贴图分类"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /sticker/user/{category}:
    post:
      tags:
        - "sticker"
      summary: "通过分类添加贴图"
      description: "通过分类添加贴图"
      operationId: "sticker add category"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "category"
          type: string
          description: "贴图分类"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /sticker/user/category:
    get:
      tags:
        - "sticker"
      summary: "获取分类列表"
      description: "获取分类列表"
      operationId: "sticker list category"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        200:
          description: "返回"
          schema:
            type: array
            items:
              $ref: "#/definitions/category"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /sticker/user/sticker:
    get:
      tags:
        - "sticker"
      summary: "通过分类获取贴图"
      description: "通过分类获取贴图"
      operationId: "get sticker with category"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "category"
          type: string
          description: "贴图分类"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              category:
                type: string
                description: "所属分类"
              title:
                type: string
                description: "分类名称"
              added:
                type: boolean
                description: "是否已添加"
              desc:
                type: string
                description: "描述"
              cover:
                type: string
                description: "封面"
              cover_lim:
                type: string
                description: "矢量封面"
              list:
                type: array
                items:
                  $ref: "#/definitions/categorySticker"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /sticker/store:
    get:
      tags:
        - "sticker"
      summary: "商店列表"
      description: "商店列表"
      operationId: "get sticker store"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "page_index"
          type: integer
          description: "页码"
          required: true
        - in: "query"
          name: "page_size"
          type: integer
          description: "每页数据"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            type: array
            items:
              properties:
                status:
                  type: integer
                  description: "1.用户已添加"
                category:
                  type: string
                  description: "分类"
                cover:
                  type: string
                  description: "封面"
                cover_lim:
                  type: string
                  description: "封面矢量图"
                title:
                  type: string
                  description: "分类名"
                desc:
                  type: string
                  description: "描述"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /sticker/user/front:
    put:
      tags:
        - "sticker"
      summary: "将自定义贴图移到最前"
      description: "将自定义贴图移到最前"
      operationId: "front sticker"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "array"
          description: "贴图地址数组"
          required: true
          schema:
            type: object
            properties:
              paths:
                type: array
                items:
                  type: string
                  description: "贴图地址数组"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /sticker/user/category/reorder:
    put:
      tags:
        - "sticker"
      summary: "排序分类"
      description: "排序分类"
      operationId: "reorder category"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "array"
          description: "分类数组"
          required: true
          schema:
            type: object
            properties:
              categorys:
                type: array
                items:
                  type: string
                  description: "分类数组"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

securityDefinitions:
  token:
    type: "apiKey"
    in: "header"
    name: "token"
    description: "用户token"

definitions:
  category:
    type: object
    properties:
      category:
        type: string
        description: "分类"
      cover:
        type: string
        description: "封面"
      cover_lim:
        type: string
        description: "封面矢量图"
      sort_num:
        type: integer
        description: "排序号"
      title:
        type: string
        description: "分类名"
      desc:
        type: string
        description: "描述"
  categorySticker:
    type: object
    properties:
      path:
        type: string
        description: "贴图地址"
      width:
        type: integer
        description: "贴图宽度"
      height:
        type: integer
        description: "贴图高度"
      title:
        type: string
        description: "名字"
      category:
        type: string
        description: "分类"
      placeholder:
        type: string
        description: "占位图"
      format:
        type: string
        description: "格式"
      searchable_word:
        type: string
        description: "搜索关键字"
      sort_num:
        type: integer
        description: "排序编号"
  searchSticker:
    type: object
    properties:
      path:
        type: string
        description: "贴图地址"
      width:
        type: integer
        description: "贴图宽度"
      height:
        type: integer
        description: "贴图高度"
      title:
        type: string
        description: "名字"
      category:
        type: string
        description: "分类"
      placeholder:
        type: string
        description: "占位图"
      format:
        type: string
        description: "格式"
      searchable_word:
        type: string
        description: "搜索关键字"
  response:
    type: "object"
    properties:
      status:
        type: integer
        format: int
      msg:
        type: "string"
