body {
    margin: 0;
    padding: 0;
}


.button {
    background-color: white;
    padding: 8px 20px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;

}

.primary {
    background-color: #2F70F5;
    color: white;
}