swagger: "2.0"
info:
  description: "唐僧叨叨 API"
  version: "1.0.0"
  title: "唐僧叨叨 API"
host: "api.botgate.cn"
tags:
  - name: "organization"
    description: "组织架构"
schemes:
  - "https"
basePath: "/v1"

paths:
  /organization:
    post:
      tags:
        - "organization"
      summary: "创建组织"
      description: "创建组织"
      operationId: "organization create"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "key"
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                description: "组织名称"
      responses:
          200:
            description: "返回"
            schema:
              $ref: '#/definitions/response'
          400:
            description: '错误'
            schema:
              $ref: '#/definitions/response' 
      security:
          - token: []  
  /organization/joined:
    get:
      tags:
        - "organization"
      summary: "获取已加入的组织"
      description: "获取已加入的组织"
      operationId: "organization joined"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
          200:
            description: "返回"
            schema:
              type: array
              items:
                properties: 
                  name:
                    type: string
                    description: "组织名称"
                  org_id:
                    type: string
                    description: "组织ID"
                  short_no:
                    type: string
                    description: "短号"
                  creator:
                    type: string
                    description: "创建者"
                  is_upload_avatar:
                    type: integer
                    description: "是否已上传logo 1是"
          400:
            description: '错误'
            schema:
              $ref: '#/definitions/response' 
      security:
          - token: []
  /organizations/{org_id}/logo:
    post:
      tags:
        - "organization"
      summary: "上传组织logo"
      description: "上传组织logo"
      operationId: "organization upload logo"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "org_id"
          type: string
          description: "组织ID"
          required: true
        - in: "formData"
          name: "file"
          type: file
          description: "文件"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
    get:
      tags:
        - "organization"
      summary: "组织logo"
      description: "组织logo"
      operationId: "organization logo get"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "org_id"
          type: string
          description: "组织ID"
          required: true
      responses:
        200:
          description: "用户logo文件"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
  /organizations/{org_id}:
    get:
      tags:
        - "organization"
      summary: "获取组织信息"
      description: "获取组织信息"
      operationId: "organization info get"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "org_id"
          type: string
          description: "组织ID"
          required: true
      responses:
        200:
          description: "组织信息"
          schema:
            $ref: "#/definitions/orgResp"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
          - token: []

  /organizations/{org_id}/invitecode:
    get:
      tags:
        - "organization"
      summary: "获取邀请码"
      description: "获取邀请码"
      operationId: "organization invitecode"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "org_id"
          type: string
          description: "组织ID"
          required: true
      responses:
        200:
          description: "成功"
          schema:
            type: object
            properties:
              code: 
                type: string
                description: "邀请码"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
          - token: []
  /organizations/{org_id}/join:
    get:
      tags:
        - "organization"
      summary: "加入组织"
      description: "加入组织"
      operationId: "organization join"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "org_id"
          type: string
          description: "组织ID"
          required: true
        - in: "body"
          name: "key"
          required: true
          schema:
            type: object
            properties:
              code:
                type: string
                description: "邀请码"
      responses:
        200:
          description: "成功"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
          - token: []
  /organizations/{org_id}/quit:
    delete:
      tags:
        - "organization"
      summary: "退出组织"
      description: "退出组织"
      operationId: "organization quit"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "org_id"
          type: string
          description: "组织ID"
          required: true
      responses:
        200:
          description: "成功"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
          - token: []
  /organizations/{org_id}/employees:
    delete:
      tags:
        - "organization"
      summary: "批量删除员工"
      description: "批量删除员工"
      operationId: "organization delete employees"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "org_id"
          type: string
          description: "组织ID"
          required: true
        - in: "body"
          name: "key"
          required: true
          schema:
            type: object
            properties:
              uids:
                type: array
                items:
                  type: string
                  description: "员工uid集合"
      responses:
        200:
          description: "成功"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
          - token: []
    put: 
      tags:
        - "organization"
      summary: "批量移动员工"
      description: "批量移动员工"
      operationId: "organization update employees dept"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "org_id"
          type: string
          description: "组织ID"
          required: true
        - in: "body"
          name: "key"
          required: true
          schema:
            type: object
            properties:
              uids:
                type: array
                items:
                  type: string
                  description: "员工uid集合"
              dept_ids:
                type: array
                items:
                  type: string
                  description: "部门id集合"
      responses:
        200:
          description: "成功"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
          - token: []
  /organizations/{org_id}/employees/search:
    get:
      tags:
        - "organization"
      summary: "搜索员工"
      description: "搜索员工"
      operationId: "organization search employees"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "org_id"
          type: string
          description: "组织ID"
          required: true
        - in: "path"
          name: "keyword"
          type: string
          description: "关键字"
          required: true
      responses:
        200:
          description: "成功"
          schema:
            type: array
            items:
              properties: 
                employee_uid:
                  type: string
                  description: "员工uid"
                employee_name:
                  type: string
                  description: "员工名称"
                role:
                  type: integer
                  description: "角色 1.管理员 2.子管理员 0.普通员工"
                username:
                  type: string
                  description: "平台名称"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
          - token: []  
  /organizations/{org_id}/department:
    post:
      tags:
        - "organization"
      summary: "创建部门"
      description: "创建部门"
      operationId: "dept add"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "org_id"
          type: string
          description: "组织ID"
          required: true
        - in: "body"
          name: "key"
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                description: "部门名称"
              parent_id:
                type: string
                description: "父部门ID"
              short_no:
                type: string
                description: "默认系统生成"
              is_create_dept_group:
                type: integer
                description: "1.创建部门群"

      responses:
        200:
          description: "成功"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
          - token: []  
  /organizations/{org_id}/department/{dept_id}:
    put:
      tags:
        - "organization"
      summary: "修改部门"
      description: "修改部门"
      operationId: "dept update"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "org_id"
          type: string
          description: "组织ID"
          required: true
        - in: "path"
          name: "dept_id"
          type: string
          description: "组织ID"
          required: true
        - in: "body"
          name: "key"
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                description: "部门名称"
              parent_id:
                type: string
                description: "父部门ID"
              short_no:
                type: string
                description: "默认系统生成"
      responses:
        200:
          description: "成功"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
          - token: [] 
    delete: 
      tags:
        - "organization"
      summary: "删除部门"
      description: "删除部门"
      operationId: "dept delete"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "org_id"
          type: string
          description: "组织ID"
          required: true
        - in: "path"
          name: "dept_id"
          type: string
          description: "组织ID"
          required: true
      responses:
        200:
          description: "成功"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
          - token: [] 
    get:  
      tags:
        - "organization"
      summary: "部门详情"
      description: "部门详情"
      operationId: "dept info"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "org_id"
          type: string
          description: "组织ID"
          required: true
        - in: "path"
          name: "dept_id"
          type: string
          description: "组织ID"
          required: true
      responses:
        200:
          description: "成功"
          schema:
            type: object
            properties:
              name:
                type: string
                description: "部门名称"
              org_id:
                type: string
                description: "所属组织ID"
              dept_id: 
                type: string
                description: "部门ID"
              parent_id:
                type: string
                description: "所属父部门ID"
              short_no:
                type: string
                description: "短号"
              is_created_group: 
                type: integer
                description: "是否创建部门群 1.是"
              child_depts:
                type: array
                items:
                    $ref: "#/definitions/deptResp"
                description: "子部门"
              employees:
                type: array
                items:
                  $ref: "#/definitions/employeeResp"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
          - token: [] 
securityDefinitions:
  token:
    type: "apiKey"
    in: "header"
    name: "token"
    description: "用户token"

definitions:
  deptResp:
    type: object
    properties:
      name:
        type: string
        description: "部门名称"
      org_id:
        type: string
        description: "所属组织ID"
      dept_id: 
        type: string
        description: "部门ID"
      parent_id:
        type: string
        description: "所属父部门ID"
      short_no:
        type: string
        description: "短号"
      is_created_group: 
        type: integer
        description: "是否创建部门群 1.是"
  orgResp:
    type: "object"
    properties:
      name:
        type: string
        description: "组织名称"
      org_id:
        type: string
        description: "组织id"
      short_no:
        type: string
        description: "组织短号"
      creator:
        type: string
        description: "创建者"
      is_upload_logo:
        type: integer
        description: "是否已上传logo 1.是"
  employeeResp:
    type: object
    properties:
      org_id:
        type: string
        description: "组织ID"
      dept_id: 
        type: string
        description: "部门ID"
      employee_id: 
        type: string
        description: "工号"
      workforce_type: 
        type: string
        description: "人员类型 ’Regular 正式‘, ‘Intern 实习’, ‘Outsourcing 外包’, ‘Contractor 劳务’, ‘Consultant 顾问"
      job_title: 
        type: string
        description: "职务"
      employee_uid: 
        type: string
        description: "员工uid"
      employee_name: 
        type: string
        description: "员工名称"
      username: 
        type: string
        description: "所在平台名称"
      role:
        type: integer
        description: "组织内角色 1.管理员 2.子管理员 0.普通员工"
  response:
    type: "object"
    properties:
      status:
        type: integer
        format: int
      msg:
        type: "string"
