swagger: "2.0"
info:
  description: "唐僧叨叨 API"
  version: "1.0.0"
  title: "唐僧叨叨 API"
host: "api.botgate.cn"
tags:
  - name: "message"
    description: "消息"
  - name: "messageManager"
    description: "消息后台管理"
schemes:
  - "https"
basePath: "/v1"

paths:
  /manager/message/send:
    post:
      tags:
        - "messageManager"
      summary: "发送消息"
      description: "发送消息"
      operationId: "send message"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "send message"
          description: "发送消息数据"
          required: true
          schema:
            type: object
            properties:
              sender:
                type: string
                description: "发送者uid"
              sender_name:
                type: string
                description: "发送者名称"
              received_channel_id:
                type: string
                description: "接收者channelID"
              received_channel_type:
                type: integer
                description: "接受类型channel类型"
              content:
                type: string
                description: "消息内容"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /manager/message/sendfriends:
    post:
      tags:
        - "messageManager"
      summary: "给某个用户代发消息"
      description: "给某个用户代发消息"
      operationId: "sendfriends message"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "send message"
          description: "发送消息数据"
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: "发送者uid"
              to_uids:
                type: array
                items:
                  type: string
                description: "接收者uids"
              content:
                type: string
                description: "消息内容"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /manager/message:
    get:
      tags:
        - "messageManager"
      summary: "代发消息记录"
      description: "代发消息记录"
      operationId: "sendfriends message list"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "page_index"
          type: integer
          description: "页码"
        - in: "query"
          name: "page_size"
          type: integer
          description: "每页数量"
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              count:
                type: integer
                description: "查询总量"
              list:
                type: array
                items:
                  properties:
                    receiver:
                      type: string
                      description: "接受者uid"
                    receiver_name:
                      type: string
                      description: "接受者名字"
                    receiver_channel_type:
                      type: integer
                      description: "接受者频道类型"
                    sender:
                      type: string
                      description: "发送者uid"
                    sender_name:
                      type: string
                      description: "发送者名字"
                    handler_uid:
                      type: string
                      description: "操作者uid"
                    handler_name:
                      type: string
                      description: "操作者名字"
                    content:
                      type: string
                      description: "发送内容"
                    created_at:
                      type: string
                      description: "发送时间"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
    delete:
      tags:
        - "messageManager"
      summary: "删除消息"
      description: "删除消息"
      operationId: "manager message delete"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "message"
          description: "消息内容"
          required: true
          schema:
            type: object
            properties:
              channel_id:
                type: string
                description: "频道ID"
              from_uid:
                type: string
                description: "发送者 群聊为空 单聊则为消息发送者uid，注意channel_id和from_uid不能相同"
              channel_type:
                type: integer
                description: "频道类型"
              list:
                type: array
                items:
                  properties:
                    message_id:
                      type: string
                      description: "消息ID"
                    message_seq:
                      type: integer
                      description: "消息序号"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /manager/message/sendall:
    post:
      tags:
        - "messageManager"
      summary: "给平台所有用户发送一条消息"
      description: "给平台所有用户发送一条消息"
      operationId: "sendall message"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "message"
          description: "消息内容"
          required: true
          schema:
            type: object
            properties:
              content:
                type: string
                description: "消息内容"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /manager/message/record:
    get:
      tags:
        - "messageManager"
      summary: "消息记录"
      description: "消息记录"
      operationId: "record message"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "channel_id"
          type: string
          description: "查询频道ID"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              count:
                type: integer
                description: "查询总数"
              list:
                type: array
                items:
                  $ref: "#/definitions/msgRecord"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/message/recordpersonal:
    get:
      tags:
        - "messageManager"
      summary: "单聊聊天记录"
      description: "单聊聊天记录"
      operationId: "recordpersonal message"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "uid"
          type: string
          description: "其中一个用户的uid"
          required: true
        - in: "path"
          name: "touid"
          type: string
          description: "另一个用户的uid"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              count:
                type: integer
                description: "查询总数"
              list:
                type: array
                items:
                  $ref: "#/definitions/msgRecord"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /manager/message/prohibit_words:
    post:
      tags:
        - "messageManager"
      summary: "添加违禁词"
      description: "添加违禁词"
      operationId: "prohibit_words add"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "content"
          type: string
          description: "违禁词内容"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
    get:
      tags:
        - "messageManager"
      summary: "违禁词列表"
      description: "违禁词列表"
      operationId: "prohibit_words list"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "page_index"
          type: integer
          description: "页码"
        - in: "query"
          name: "page_size"
          type: integer
          description: "每页数量"
        - in: "query"
          name: "search_key"
          type: string
          description: "搜索关键字"
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              count:
                type: integer
                description: "查询总量"
              list:
                type: array
                items:
                  properties:
                    id:
                      type: integer
                      description: "id"
                    content:
                      type: string
                      description: "违禁词内容"
                    is_deleted:
                      type: integer
                      description: "是否删除 1.是"
                    version:
                      type: integer
                      description: "版本"
                    created_at:
                      type: string
                      description: "创建时间"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
    delete:
      tags:
        - "messageManager"
      summary: "删除违禁词"
      description: "删除违禁词"
      operationId: "prohibit_words delete"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "is_deleted"
          type: integer
          description: "删除或回复违禁词 1.删除"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message:
    delete:
      tags:
        - "message"
      summary: "删除消息"
      description: "删除消息"
      operationId: "delete msgs"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "delete msgs"
          description: "删除消息数组"
          required: true
          schema:
            type: array
            items:
              properties:
                message_id:
                  type: string
                  description: "消息message ID"
                channel_id:
                  type: string
                  description: "频道ID"
                channel_type:
                  type: integer
                  description: "频道类型"
                message_seq:
                  type: integer
                  description: "消息序号"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/mutual:
    delete:
      tags:
        - "message"
      summary: "双向删除消息"
      description: "双向删除消息 仅限自己发送成功和在群内是管理员群主身份的消息"
      operationId: "mutual delete msgs"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "mutual delete msgs"
          description: "删除消息数据"
          required: true
          schema:
            type: object
            properties:
              message_id:
                type: string
                description: "消息message ID"
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              message_seq:
                type: integer
                description: "消息序号"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/revoke:
    post:
      tags:
        - "message"
      summary: "撤回消息"
      description: "撤回消息"
      operationId: "revoke msg"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "message_id"
          type: string
          description: "消息id"
          required: true
        - in: "query"
          name: "client_msg_no"
          type: string
          description: "客户端消息编号"
          required: true
        - in: "query"
          name: "channel_id"
          type: string
          description: "频道ID"
        - in: "query"
          name: "channel_type"
          type: string
          description: "频道类型"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/offset:
    post:
      tags:
        - "message"
      summary: "清除某频道消息"
      description: "清除某频道消息"
      operationId: "offset msg"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "清除数据"
          required: true
          schema:
            type: object
            properties:
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              message_seq:
                type: integer
                description: "消息序号"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/voicereaded:
    put:
      tags:
        - "message"
      summary: "语音消息已读"
      description: "语音消息已读"
      operationId: "voicereaded msg"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "标记语言已读"
          required: true
          schema:
            type: object
            properties:
              message_id:
                type: string
                description: "消息message ID"
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              message_seq:
                type: integer
                description: "消息序号"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/search:
    post:
      tags:
        - "message"
      summary: "搜索消息"
      description: "搜索消息"
      operationId: "search msgs"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "搜索消息筛选条件"
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: "搜索的消息限定这某个用户内"
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              content_type:
                type: integer
                description: "消息正文类型"
              keyword:
                type: string
                description: "关键字"
      responses:
        200:
          description: "返回"
          schema:
            type: array
            items:
              $ref: "#/definitions/message"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/typing:
    post:
      tags:
        - "message"
      summary: "发送正在输入消息"
      description: "发送正在输入消息"
      operationId: "typing msgs"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "发送正在输入channel"
          required: true
          schema:
            type: object
            properties:
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/channel/sync:
    post:
      tags:
        - "message"
      summary: "同步频道消息"
      description: "同步频道消息"
      operationId: "sync msgs channel"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "同步channel消息数据"
          required: true
          schema:
            type: object
            properties:
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              login_uid:
                type: string
                description: "登录用户uid"
              device_uuid:
                type: string
                description: "设备唯一编号"
              start_message_seq:
                type: integer
                description: "开始序号"
              end_message_seq:
                type: integer
                description: "结束序列号"
              limit:
                type: integer
                description: "每次同步数量限制"
              pull_mode:
                type: integer
                description: "拉取模式 0:向下拉取 1:向上拉取 参数说明查看：https://githubim.com/api/message.html（查看获取某频道消息）"
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              start_message_seq:
                type: integer
                description: "开始序列号"
              end_message_seq:
                type: integer
                description: "结束序列号"
              pull_mode:
                type: integer
                description: "拉取模式"
              more:
                type: integer
                description: "是否还有更多 1.是 0.否"
              messages:
                type: array
                items:
                  $ref: "#/definitions/syncMessage"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/extra/sync:
    post:
      tags:
        - "message"
      summary: "同步消息扩展"
      description: "同步消息扩展"
      operationId: "sync msgs extra"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "同步消息扩展数据"
          required: true
          schema:
            type: object
            properties:
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              extra_version:
                type: integer
                description: "扩展版本号"
              source:
                type: string
                description: "操作源(设备唯一编号)"
              limit:
                type: integer
                description: "数据限制"
      responses:
        200:
          description: "返回"
          schema:
            type: array
            items:
              $ref: "#/definitions/messageExtra"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/readed:
    post:
      tags:
        - "message"
      summary: "标记消息已读"
      description: "标记消息已读"
      operationId: "readed msgs"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "已读消息channel及消息ids"
          required: true
          schema:
            type: object
            properties:
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              message_ids:
                type: array
                items:
                  type: string
                  description: "已读消息ids"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/sync/sensitivewords:
    get:
      tags:
        - "message"
      summary: "同步敏感词"
      description: "同步敏感词"
      operationId: "sensitivewords msgs"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              tips:
                type: string
                description: "触发敏感词提醒语"
              version:
                type: integer
                description: "版本号"
              list:
                type: array
                items:
                  type: string
                  description: "敏感词列表"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []

  /message/prohibit_words/sync:
    get:
      tags:
        - "message"
      summary: "同步违禁词"
      description: "同步违禁词"
      operationId: "sync prohibit_words"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "query"
          name: "version"
          type: string
          description: "违禁词版本号"
          required: true

      responses:
        200:
          description: "返回"
          schema:
            type: array
            items:
              properties:
                id:
                  type: integer
                  description: "违禁词id"
                content:
                  type: string
                  description: "违禁词内容"
                is_deleted:
                  type: integer
                  description: "是否已删除 1.是"
                version:
                  type: integer
                  description: "违禁词版本号"
                created_at:
                  type: string
                  description: "时间"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/edit:
    post:
      tags:
        - "message"
      summary: "编辑消息"
      description: "编辑消息"
      operationId: "edit msg"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "编辑消息内容"
          required: true
          schema:
            type: object
            properties:
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              message_id:
                type: string
                description: "消息ID"
              content_edit:
                type: string
                description: "编辑后的内容"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/reminder/sync:
    post:
      tags:
        - "message"
      summary: "同步消息提醒"
      description: "同步消息提醒"
      operationId: "sync reminder msg"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "同步消息提醒channelids"
          required: true
          schema:
            type: object
            properties:
              version:
                type: integer
                description: "同步版本号"
              limit:
                type: integer
                description: "同步数量"
              channel_ids:
                type: array
                items:
                  type: string
                  description: "频道ids"
      responses:
        200:
          description: "返回"
          schema:
            type: array
            items:
              $ref: "#/definitions/reminder"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/reminder/done:
    post:
      tags:
        - "message"
      summary: "完成提醒项"
      description: "完成提醒项"
      operationId: "done reminder"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "array"
          description: "提醒项ids"
          required: true
          schema:
            type: array
            items:
              type: string
              description: "提醒项ids"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /replies:
    post:
      tags:
        - "message"
      summary: "添加回复"
      description: "添加回复"
      operationId: "add replies"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "回复数据"
          required: true
          schema:
            type: object
            properties:
              message_id:
                type: string
                description: "消息唯一id"
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              type:
                type: integer
                description: "回复数据类型"
              payload:
                type: string
                description: "回复数据"
              uid:
                type: string
                description: "回复用户UID"
              name:
                type: string
                description: "回复用户名字"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /messages/{message_id}/replies:
    get:
      tags:
        - "message"
      summary: "获取消息回复详情"
      description: "获取消息回复详情"
      operationId: "replies"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "message_id"
          type: string
          description: "消息id"
          required: true
        - in: "query"
          name: "seq"
          type: integer
          description: "序号"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              root:
                $ref: "#/definitions/syncMessage"
              messages:
                $ref: "#/definitions/syncMessage"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /messages/{message_id}/receipt:
    get:
      tags:
        - "message"
      summary: "消息回执列表"
      description: "消息回执列表"
      operationId: "receipt"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "path"
          name: "message_id"
          type: string
          description: "消息id"
          required: true
        - in: "query"
          name: "readed"
          type: integer
          description: "查询已读未读的消息，0.未读 1.已读"
          required: true
      responses:
        200:
          description: "返回"
          schema:
            type: array
            items:
              properties:
                uid:
                  type: string
                  description: "用户uid"
                name:
                  type: string
                  description: "用户名"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /reactions:
    post:
      tags:
        - "message"
      summary: "添加或取消回应"
      description: "添加或取消回应"
      operationId: "reactions"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "回应数据"
          required: true
          schema:
            type: object
            properties:
              message_id:
                type: string
                description: "消息唯一ID"
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              emoji:
                type: string
                description: "回应的emoji"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /reactions/sync:
    post:
      tags:
        - "message"
      summary: "同步回应"
      description: "同步回应"
      operationId: "reactions sync"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "回应数据"
          required: true
          schema:
            type: object
            properties:
              seq:
                type: integer
                description: "同步序号"
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              limit:
                type: integer
                description: "数量"
      responses:
        200:
          description: "返回"
          schema:
            type: array
            items:
              $ref: "#/definitions/messageReaction"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /reply_total/sync:
    post:
      tags:
        - "message"
      summary: "同步回复统计数据"
      description: "同步回复统计数据"
      operationId: "reply_total sync"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "统计数据"
          required: true
          schema:
            type: object
            properties:
              message_id:
                type: string
                description: "消息唯一ID"
              limit:
                type: integer
                description: "数量"
              seq:
                type: integer
                description: "消息序号"
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              message_id:
                type: string
                description: "消息唯一ID"
              seq:
                type: integer
                description: "消息序号"
              channel_id:
                type: string
                description: "频道ID"
              channel_type:
                type: integer
                description: "频道类型"
              count:
                type: integer
                description: "回复数量"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/send:
    post:
      tags:
        - "message"
      summary: "代发消息"
      description: "代发消息"
      operationId: "send message"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "发送消息参数"
          required: true
          schema:
            type: object
            properties:
              token:
                type: string
                description: "发送者token"
              receive_channel_id:
                type: string
                description: "接受channelID"
              receive_channel_type:
                type: integer
                format: int
                description: "接受channel类型"
              payload:
                type: object
                description: "消息正文"
              is_verify:
                type: integer
                description: "是否需要验证好友关系｜是否在群内 1.是"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/pinned:
    post:
      tags:
        - "message"
      summary: "置顶或取消置顶消息"
      description: "置顶或取消置顶消息"
      operationId: "pin or unpin message"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "置顶或取消置顶消息参数"
          required: true
          schema:
            type: object
            properties:
              channel_id:
                type: string
                description: "聊天频道ID"
              channel_type:
                type: integer
                description: "聊天频道类型"
              message_id:
                type: string
                description: "被置顶或取消置顶的消息ID"
              message_seq:
                type: integer
                description: "被置顶或取消置顶的消息序号"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/pinned/sync:
    post:
      tags:
        - "message"
      summary: "同步置顶消息"
      description: "同步置顶消息"
      operationId: "sync pinned message"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "置顶或取消置顶消息参数"
          required: true
          schema:
            type: object
            properties:
              channel_id:
                type: string
                description: "聊天频道ID"
              channel_type:
                type: integer
                description: "聊天频道类型"
              version:
                type: integer
                description: "增量同步版本号"
      responses:
        200:
          description: "返回"
          schema:
            type: object
            properties:
              messages:
                type: array
                items:
                  $ref: "#/definitions/syncMessage"
              pinned_messages:
                type: array
                items:
                  $ref: "#/definitions/pinnedMessage"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
  /message/pinned/clear:
    post:
      tags:
        - "message"
      summary: "删除所有置顶消息"
      description: "删除所有置顶消息"
      operationId: "clear pinned message"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "object"
          description: "删除所有置顶消息参数"
          required: true
          schema:
            type: object
            properties:
              channel_id:
                type: string
                description: "聊天频道ID"
              channel_type:
                type: integer
                description: "聊天频道类型"
      responses:
        200:
          description: "返回"
          schema:
            $ref: "#/definitions/response"
        400:
          description: "错误"
          schema:
            $ref: "#/definitions/response"
      security:
        - token: []
securityDefinitions:
  token:
    type: "apiKey"
    in: "header"
    name: "token"
    description: "用户token"

definitions:
  msgRecord:
    type: object
    properties:
      message_id:
        type: string
        description: "消息ID"
      message_seq:
        type: integer
        description: "消息编号"
      sender:
        type: string
        description: "发送者uid"
      sender_name:
        type: integer
        description: "发送者名字"
      payload:
        type: object
        description: "发送内容"
      is_deleted:
        type: integer
        description: "是否删除 1.是"
      readed_count:
        type: integer
        description: "已读数量"
      revoke:
        type: integer
        description: "是否撤回 1.是"
      created_at:
        type: string
        description: "发送时间"
      edited_at:
        type: integer
        description: "编辑时间"

  reminder:
    type: "object"
    properties:
      id:
        type: integer
        description: "提醒项id"
      channel_id:
        type: string
        description: "频道ID"
      channel_type:
        type: integer
        description: "频道类型"
      publisher:
        type: string
        description: "提醒发布者"
      message_seq:
        type: integer
        description: "消息序号"
      message_id:
        type: string
        description: "消息id"
      reminder_type:
        type: integer
        description: "提醒类型"
      uid:
        type: string
        description: "提醒的用户uid 如果此字段为空则表示 提醒项为整个频道内的成员"
      text:
        type: string
        description: "提醒文字"
      data:
        type: object
        description: "提醒数据"
      is_locate:
        type: integer
        description: "是否需要定位"
      version:
        type: integer
        description: "提醒项版本"
      done:
        type: integer
        description: "提醒项是否已完成 1.是"
  syncMessage:
    type: "object"
    properties:
      message_id:
        type: string
        description: "消息ID"
      message_seq:
        type: integer
        description: "消息序号"
      channel_id:
        type: string
        description: "频道ID"
      channel_type:
        type: integer
        description: "频道类型"
      client_msg_no:
        type: string
        description: "客户端消息编号"
      from_uid:
        type: string
        description: "消息发送者uid"
      timestamp:
        type: integer
        description: "消息时间"
      voice_status:
        type: integer
        description: "语音消息是否已读 1.是"
      is_deleted:
        type: integer
        description: "是否已删除 1.是"
      revoke:
        type: integer
        description: "是否撤回 1.是"
      revoker:
        type: string
        description: "撤回者uid"
      extra_version:
        type: integer
        description: "扩展版本号"
      unread_count:
        type: integer
        description: "未读消息数量"
      readed_count:
        type: integer
        description: "已读消息数量"
      readed:
        type: integer
        description: "是否已读(针对自己) 1.是"
      receipt:
        type: integer
        description: "消息是否开启回执 1.是"
      setting:
        type: integer
        description: "消息设置"
      payload:
        type: object
        description: "消息正文"
      signal_payload:
        type: string
        description: "加密正文"
      message_extra:
        type: object
        $ref: "#/definitions/messageExtra"
      reactions:
        type: array
        items:
          $ref: "#/definitions/messageReaction"
  message:
    type: "object"
    properties:
      message_id:
        type: string
        description: "消息ID"
      message_seq:
        type: integer
        description: "消息序号"
      channel_id:
        type: string
        description: "频道ID"
      channel_type:
        type: integer
        description: "频道类型"
      client_msg_no:
        type: string
        description: "客户端消息编号"
      from_uid:
        type: string
        description: "消息发送者uid"
      timestamp:
        type: integer
        description: "消息时间"
      is_deleted:
        type: integer
        description: "是否已删除 1.是"
      payload:
        type: object
        description: "消息正文"
  messageExtra:
    type: "object"
    properties:
      message_id:
        type: integer
        description: "数字类型消息ID"
      message_id_str:
        type: string
        description: "字符串消息ID"
      revoke:
        type: integer
        description: "是否撤回 1.是"
      revoker:
        type: string
        description: "撤回者uid"
      voice_status:
        type: integer
        description: "语音消息是否已读 1.是"
      readed:
        type: integer
        description: "消息是否已读(针对自己) 1.是"
      readed_count:
        type: integer
        description: "已读数量"
      readed_at:
        type: integer
        description: "已读时间"
      is_mutual_deleted:
        type: integer
        description: "是否双向删除 1.是"
      content_edit:
        type: object
        description: "编辑后的正文"
      edited_at:
        type: integer
        description: "编辑时间"
      extra_version:
        type: integer
        description: "数据版本"
  messageReaction:
    type: "object"
    properties:
      message_id:
        type: string
        description: "消息ID"
      uid:
        type: string
        description: "操作用户uid"
      name:
        type: string
        description: "操作用户名"
      channel_id:
        type: string
        description: "频道ID"
      channel_type:
        type: integer
        description: "频道类型"
      seq:
        type: integer
        description: "消息序号"
      emoji:
        type: string
        description: "回应表情"
      is_deleted:
        type: integer
        description: "是否已删除 1.是"
      created_at:
        type: string
        description: "操作时间"
  pinnedMessage:
    type: "object"
    properties:
      channel_id:
        type: string
        description: "频道ID"
      channel_type:
        type: integer
        description: "频道类型"
      message_id:
        type: string
        description: "消息ID"
      message_seq:
        type: integer
        description: "消息序号"
      is_deleted:
        type: integer
        description: "是否已删除 1.是"
      version:
        type: integer
        description: "版本号"
      created_at:
        type: string
        description: "置顶时间"
      updated_at:
        type: string
        description: "更新时间"
  response:
    type: "object"
    properties:
      status:
        type: integer
        format: int
      msg:
        type: "string"
